<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>All bookings</title>
  </head>
  <body>
    <figure class="text-center">
      <blockquote class="blockquote">
        <p>All bookings that have been made</p>
      </blockquote>
    </figure>
    <div class="container" style="margin-top: 5rem; max-width: 500px">
      <!-- for loob, showing all bookings that has been made -->
      {% for booking in bookings %}

      <div
        class="card border-dark mb-3"
        style="max-width: 18rem; margin: 0 auto"
      >
        <div class="card-body text-dark">
          <p class="card-text">Name: {{ booking.customer }}</p>
          <p class="card-text">Appointment with: {{ booking.staff }}</p>
          <p class="card-text">Service booked: {{ booking.comments }}</p>
        </div>
      </div>
      {% endfor %}
      <a
        href="/"
        class="btn btn-secondary"
        style="width: 100%; margin-bottom: 5rem"
      >
        Go back
      </a>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
